<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bye Backdrop</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <!-- home section starts here  -->
    <section class="home" id="home">
        <div class="home-box">
            <nav>
                <div class="logo bars">
                    <div class="bar">
                        <i class="fa fa-bars"></i>
                    </div>
                    <h3>Bye Backdrop</h3>
                </div>
                <div class="menu">
                    <div class="close">
                        <i class="fa fa-close"></i>
                    </div>
                    <ul>
                        <li><a href="#home">home</a></li>
                        <li><a href="#product">Use Case</a></li>
                        <li><a href="#feedback">Testimonial</a></li>
                        <li><a href="#">Tools & API</a></li>
                    </ul>
                </div>
            </nav>

            <div class="content">
                <h5>Bye Backdrop</h5>
                <h1>Remove Image Background</h1>
                <p>Turn your images into art, stunning banners, visual presentations, product catalogs and graphics. Fully customizable on your needs. </p>
                  
                <a href="/process"> <button>Start from a photo</button> </a>
         
            </div>
        </div>
    </section>
    <!-- home section ends here  -->

    <!-- info section starts here  -->
    <section class="info" id="about">
        <div class="container">
            <div class="box box1">
                <img src="../static/image/eraser.png" alt="">
                <div class="content">
                    <h4>Accurate Background Removal</h4>
                    <p> Perform precise and efficient background removal with 99% accuracy. This feature ensures high-quality outputs with minimal errors, making it stand out for users who need professional results.</p>
                </div>
            </div>
            <div class="box box2">
                <img src="../static/image/interface.png" alt="">
                <div class="content">
                    <h4>User-Friendly Web Interface</h4>
                    <p>The intuitive web interface allows users to easily upload images, monitor the progress of background removal, and download processed images. Leading to a 30% increase in user satisfaction.</p>
                </div>
            </div>
            <div class="box box3">
                <img src="../static/image/efficiency.png" alt="">
                <div class="content">
                    <h4>Fast and Efficient Processing</h4>
                    <p>The background removal process is optimized for speed, allowing users to quickly process large images. The application delivers results 50% faster compared to traditional methods.</p>
                </div>
            </div>
        </div>
    </section>
    <!-- info section ends here  -->

    <!-- product section starts here  -->
    <section class="product" id="product">
        <h4 class="label">More Than Just A Background Remover</h4>
        <div class="container">
            <div class="container-box">
                <h2 class="heading">Instant Upload, Instant Magic!</h2>
                <div class="content">
                    <p>Our online background remover instantly detects the subject from any photo and gives you a smooth & clear cutout. Now you can save a incredible amount of time as our AI is capable of handling hair, fur or any complex edges in just a few seconds.</p>
                    
                </div>
            </div>
            <div class="gallery">
                <div class="box box1">
                    <img src="../static/image/product-5.png" alt="">
                    <div class="text">
                        <h2>Real estate</h2>
                    </div>
                </div>
                <div class="box box2">
                    <img src="../static/image/product-1.png" alt="">
                    <div class="text">
                        <h2>Product</h2>
                    </div>
                </div>
                <div class="box box3">
                    <img src="../static/image/product-2.png" alt="">
                    <div class="text">
                        <h2>Animal</h2>
                    </div>
                </div>
                <div class="box box4">
                    <img src="../static/image/product-3.png" alt="">
                    <div class="text">
                        <h2>Graphic</h2>
                    </div>
                </div>
                <div class="box box5">
                    <img src="../static/image/product-4.png" alt="">
                    <div class="text">
                        <h2>Person</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- product section ends here  -->

    <!-- featured section starts here  -->
    <section class="featured">
        <div class="gallery">
            <div class="box box1">
                <div class="first-box">
                    <h4 class="label">featured offers</h4>
                    <h2 class="heading">Enterprise Solutions at Scale</h2>
                    <p>
                        Explore our suite of extended capabilities that ease up your regular workflows
                    </p>
                  
                    <div class="image">
                        <img src="../static/image/plane.png" alt="">
                    </div>
                </div>
            </div>
            <div class="box box2">
                <img src="../static/image/featured-1.png" alt="">
                <div class="content">
                    <h2>Bulk Transformation</h2>
                   
                    
                </div>
            </div>
            <div class="box box3">
                <img src="../static/image/featured-2.png" alt="">
                <div class="content">
                    <h2>API Integration</h2>
                    
                </div>
            </div>
            <div class="box box4">
                <img src="../static/image/featured-3.png" alt="">
                <div class="content">
                    <h2>fastest background eraser</h2>
                   
                    
                </div>
            </div>
        </div>
    </section>
    <!-- featured section ends here  -->

    <!-- feedback section starts here  -->
    <section class="feedback" id="feedback">
        <div class="container">
            <h4 class="label">Testimonial</h4>
            <h2 class="heading">They love us. You will too</h2>
            <p class="paragraph">
                real stories from our community say
            </p>
        </div>

        <div class="voices">
            <div class="voice box1">
                <div class="profile">
                    <img src="../static/image/photo1.jpg" alt="">
                    <div class="detail">
                        <li>marvin davin</li>
                        <li>Content & Marketing Coordinator</li>
                    </div>
                </div>
                <p>We are impressed by the AI and think it's the best choice on the market.</p>
            </div>
            <div class="voice box2">
                <div class="profile">
                    <img src="../static/image/photo2.jpg" alt="">
                    <div class="detail">
                        <li>Taylor Hatmaker</li>
                        <li>Senior Editor</li>
                    </div>
                </div>
                <p>I need a good background remover for my work and I've been through them all it feels like. This one is the best by far. It's so easy to use and the results always look amazing.</p>
            </div>
            <div class="voice box3">
                <div class="profile">
                    <img src="../static/image/photo3.jpg" alt="">
                    <div class="detail">
                        <li>Jacob P. </li>
                        <li>Small business owner</li>
                    </div>
                </div>
                <p>It's amazingly easy and gives the perfect results for my bags and accessories. It looks like it was done by a professional photographer. </p>
          
        
           
        </div>
    </section>
    <!-- feedback section ends here  -->



    <!-- footer section starts here  -->
    <footer>
        <section class="footer">
            <div class="container">
                <div class="detail">
                    <h3>Bye Backdrop</h3>
                    <p>Bye Backdrop is a web application designed to provide a simple and efficient way for users to remove the background from their images. Built using the Flask web application framework in Python, this app leverages advanced machine learning models to accurately and quickly perform background removal on uploaded images.</p>
                    <h5>get in touch</h5>
                    <a href="mailto:tanmayjain04@yahoo.in">tanmayjain04@yahoo.in</a>
                    <div class="social">
                        <a href="#"><i class="fa fa-linkedin-square"></i></a>
                        <a href="#"><i class="fa fa-facebook-square"></i></a>
                        <a href="#"><i class="fa fa-twitter-square"></i></a>
                    </div>
                </div>
                <div class="about-us">
                    <h4>about us</h4>
                    <li><a href="#home">Home</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#">API <span>BETA</span></a></li>
                    <li><a href="#product">Use Case</a></li>
                    <li><a href="#feedback">Testimonial</a></li>
                </div>
             
            </div>

            <div class="copyright">
                <div>
                    &copy;2024 - Bye Backdrop, inc, all rights reserved
                </div>
                <div>
                    <a href="#">term & conditions</a>
                    <a href="#">privacy policy</a>
                </div>
            </div>
        </section>
    </footer>
    <!-- footer section ends here  -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.4/gsap.min.js" integrity="sha512-EZI2cBcGPnmR89wTgVnN3602Yyi7muWo8y1B3a8WmIv1J9tYG+udH4LvmYjLiGp37yHB7FfaPBo8ly178m9g4Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.4/ScrollTrigger.min.js" integrity="sha512-OzC82YiH3UmMMs6Ydd9f2i7mS+UFL5f977iIoJ6oy07AJT+ePds9QOEtqXztSH29Nzua59fYS36knmMcv79GOg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="../static/js/script.js"></script>
</body>
</html>